- var production = false;
- var jQuery = true;
- var jQueryUI = false;

//--------------------------------------------------------------forms
- var default_field = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod', elem_class:'default_mod'}
- var default_field_hidden = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod hline_hide_mod', elem_class:'default_mod'}
- var default_checkbox = {block_class_mod:'check_1_mod',class_mod:'check_1_mod', elem_class:'check_1_mod'}
- var default_radio = {block_class_mod:'radio_1_mod',class_mod:'radio_1_mod', elem_class:'radio_1_mod'}

//--------------------------------------------------------------forms
- var headerMenuArray = {items:[{title:'About',active:true,mod:''},{url:'#service',title:'Service',active:false,mod:''},{title:'Work',active:false,mod:''},{title:'Blog',active:false,mod:''},{title:'Contact',active:false,mod:''},{title:'',active:false,mod:'basket_mod'},{title:'',active:false,mod:'search_mod'}],mod:'header_mod'}

-var logo = 'MoGo'

-var stories = [{title: 'Super Team', img: 'i/about/about01.jpg'}, {title: 'Another Story', img: 'i/about/about02.jpg'}, {title: 'Something Else', img: 'i/about/about03.jpg'}]

-var facts = [{text: 'Web design projects', num: '42'}, {text: 'Happy clients', num: '125'}, {text: 'Award winner', num: '15'}, {text: 'Cup of coffee', num: '99'}, {text: 'Members', num: '24'}]

-var team = [{name: 'Matthew Dix', photo: 'i/team/worker01.jpg', text: 'Graphic Design', soclinks: [{url: '#', text: 'facebook'}, {url: '#', text: 'twitter'}, {url: '#', text: 'pinterest'}]}, {name: 'Christopher Campbell', photo: 'i/team/worker02.jpg', text: 'Branding/UX Design', soclinks: [{url: '#', text: 'facebook'}, {url: '#', text: 'twitter'}, {url: '#', text: 'instagram'}, {url: '#', text: 'google-plus'}]}, {name: 'Mickhael Fertig', photo: 'i/team/worker03.jpg', text: 'Developer', soclinks: [{url: '#', text: 'facebook'}, {url: '#', text: 'twitter'}, {url: '#', text: 'instagram'}, {url: '#', text: 'google-plus'}]}]

-var services = [{mod: 'photo_mod', title: 'Photography', text: 'Et vix purto legendos, mel magna harum soluta ut, ea convenire principes vel. Case definitionem te cum.'}, {mod: 'design_mod', title: 'Web Design', text: 'Et vix purto legendos, mel magna harum soluta ut, ea convenire principes vel. Case definitionem te cum.'}, {mod: 'comp_mod', title: 'Creativity', text: 'Et vix purto legendos, mel magna harum soluta ut, ea convenire principes vel. Case definitionem te cum.'}, {mod: 'seo_mod', title: 'Seo', text: 'Et vix purto legendos, mel magna harum soluta ut, ea convenire principes vel. Case definitionem te cum.'}, {mod: 'html_mod', title: 'CSS/HTML', text: 'Et vix purto legendos, mel magna harum soluta ut, ea convenire principes vel. Case definitionem te cum.'}, {mod: 'digit_mod', title: 'Digital', text: 'Et vix purto legendos, mel magna harum soluta ut, ea convenire principes vel. Case definitionem te cum.'}]

-var testimonials = [{text: '"Lorem ipsum dolor sit amet, eos facete melius ut, pro ludus zril te, te laudem noluisse assueverit nam. Eu fuisset scaevola efficiendi vel, causae delicatissimi no eam."', cite: 'John Doe'}, {text: '"Lorem ipsum dolor sit amet, eos facete melius ut, pro ludus zril te, te laudem noluisse assueverit nam. Eu fuisset scaevola efficiendi vel, causae delicatissimi no eam."', cite: 'Rich MacWood', img: 'i/clients/client01.jpg'}]

-var follows = ['facebook', 'twitter', 'instagram', 'pinterest', 'google-plus', 'youtube', 'dribbble']

-var fromblog = [{img:'i/blog/blog_small_img01.jpg', title:'Lorem ipsum dolor sit amet. In meliore ocurreret vim.', date:'Jan 9, 2016'}, {img:'i/blog/blog_small_img02.jpg', title:'Lorem ipsum dolor sit amet. In meliore ocurreret vim.', date:'Jan 9, 2016'}, {img:'i/blog/blog_small_img03.jpg', title:'Lorem ipsum dolor sit amet. In meliore ocurreret vim.', date:'Jan 9, 2016'}]