.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: $height_footer;
	will-change:transform;

	@include bp($point_2) {
		position: static;
		height: auto;
	}
}

.footer_wrap {
	@include row;
	@extend %global_flex_block_row_wrap_flex-start;
}

.footer_section {
	@include cols(5);
	padding: 0 0 $gl_indent 0;

	&.first_mod {
		@include bp($point_2) {
			@include cols(12);
		}
	}

	&.second_mod {
		@include cols(4);

		@include bp($point_2) {
			@include cols(6);
		}
		@include bp($point_3) {
			@include cols(12);
		}
	}

	&.third_mod {
		@include cols(3);

		@include bp($point_2) {
			@include cols(6);
		}
		@include bp($point_3) {
			@include cols(12);
		}
	}
}

.footer_descr {
	margin: 0 0 $gl_indent 0;
}

.follow_title {
	color: $color_text_dark;
	padding: 0 0 1rem 0;
	margin: 0 0 1rem 0;
	@include borderbottom;

	.follow_count {
		font-weight: $font_bold;
		font-size: 1.8rem;
		padding: 0 0.5rem 0 0;
	}
}

.blog_list {
	@extend %global_flex_block_column_nowrap_flex-start;

	.blog_item {
		margin: 0 0 $gl_indent 0;
		&:last-of-type {
			margin: 0;
		}
	}
}

.post_block {
	@extend %global_flex_block_row_nowrap_flex-start;

	.image_wrap {
		flex: 0 0 12rem;
		margin-right: 2rem;
	}

	.image_d_title {
		color: $color_text_dark;
		font-family: $font_title2;
		font-size: 1.2rem;
		text-transform: uppercase;
	}

	.image_d_date {
		font-style: italic;
	}
}

.instagram_list {
	@extend %global_flex_block_row_wrap_flex-start;
	padding: 0 0 $gl_indent / 2 0;

	.instagram_item {
		width: 8.8rem;
		height: 8.8rem;
		margin: 0 0.2rem 0.2rem 0;
	}
}

.instagram_more {
	color: $color_text_dark;
	font-style: italic;
}

.footer_copyrights {
	color: $color_text_dark;
	font-family: $font_title2;
	padding: 2rem;
	border-top: 1px solid $color-border;
	text-align: center;
}