//-------------------------------------------------------inputs and selects
%form_field_default {
	display: block;
	width: 100%;
	height: $input_height;
	padding: $input_offset;
	font-size: $input_font_size;
	font-family: $font_1;
	color: $input_text_color;
	border: 1px solid $input_border_color;
	//border-radius:$input_radius;

	&::-webkit-input-placeholder {
		color: $input_placeholder_color;
		font-style: italic;
	}

	&::-moz-placeholder {
		color: $input_placeholder_color;
		font-style: italic;
	}
	&:-ms-input-placeholder {
		color: $input_placeholder_color;
		font-style: italic;
	}
}

%form_field_default_hover {
}

%form_field_default_active {
	border: 1px solid $input_border_color_active;
}

.form_cell {
	&.hidden_field {
		display: none;
	}

	&.form_cell_v1_mod {
	}
}

.form_c_hline {

	&.hline_hide_mod {
		display: none;
	}
	&.form_v1_mod {
	}
}

.form_c_f_w {
	position: relative;
	flex: 0 0 100%;

	&.form_v1_mod {
	}
}

.f_c_field:not(.select_rediz_coosen) {
	&.default_mod {
		@extend %form_field_default !optional;
		display: inline-block;
		width: 23rem;
		margin: 0 -0.4rem 0 0;

		@include bp($point_4) {
			width: 100%;
			margin: 0 0 ($gl_indent / 2) 0;
		}

		&:focus {
			@extend %form_field_default_active !optional;
		}

		&:hover {
			@extend %form_field_default_hover !optional;
		}

		&.textarea_mod_1 {
		}
	}
}

//-------------------------------------------------------inputs and selects###

.subscribe_button {
	@extend %big_btn;
	@extend %blue_btn;

	@include bp($point_4) {
		width: 100%;
	}
}